.trending-section {
  padding: 0 0 30px 0;
}

.card-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 1.25rem;
  margin-top: 25px;
  .card {
    > a {
      display: block;
      color: $white;
    }
    &-image {
      position: relative;
      line-height: 1;
      border-radius: 10px;
      .badge {
        position: absolute;
        bottom: -2px;
        left: -2px;
        z-index: 0;
        line-height: 1.5;
      }
      img {
        transition: 0.3s;
      }
    }
    &-footer {
      margin-top: 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      .price {
        font-weight: 500;
        font-size: 18px;
      }
    }
    &:hover {
      .card-image img {
        transform: scale(1.03);
      }
    }
  }
}